@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
   src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
   font-family: "WorkSans";
   font-style: normal;
}

@font-face {
   src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
   font-family: "WorkSans";
   font-style: italic;
}

.mine-question summary {
   display: flex;
   column-gap: 1rem;
   justify-content: space-between;
   align-items: center;
}

.mine-question summary::after {
   content: url("../assets/images/icon-plus.svg");
   display: block;
}

.mine-question[open] summary::after {
   content: url("../assets//images/icon-minus.svg");
}